body {
	background-color: #000;
}

#background {
	position: fixed;
	background-image: url('bg.jpg');
}
p, h1, h2 {
	color: #FFF;
}

a:visited {
	color: #FFF;
}
.content {
	font-size: 20px;
}
#stage {
	position: absolute;
	top: 100px;
	background-color: rgba(0, 0, 0, 0.7);
	width: 800px;
	height: auto;
	overflow: visible;
}

#vids {
	background-color: #000;
	position: fixed;
	top: 100px;
	right: 20px;
}

#vid {
	font-size: 18px;
	display: block;
}

#pics {
	background-image: url('bioshock_rapture.png');
	background-color: #000;
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	bottom: 20px;
	right: 10px;
	width: 450px;
	height: 250px;
	border: 1px solid #FFF;
	cursor: pointer;
	margin: auto 0px;
}
